@font-face {
    font-family: 'monument-extended';
    src: url('./../../fonts/MonumentExtended-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../../fonts/Montserrat-Regular.ttf') format('truetype');
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 36px;
}

.item-info-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.item-info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 24px;
    position: relative;
}

.item-info-img img {
    width: 70%;
    height: 80%;
    background: #F5F5F5;
    margin-bottom: 20px;
    border-radius: 20px;
}

.item-info h1 {
    font-family: 'monument-extended';
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: black;
    /* text-align: center; */
}

.item-info p {
    font-family: 'Montserrat';
    text-decoration-line: none;
    font-style: normal;
    text-transform: none;
    color: rgb(126, 126, 126);
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.info-product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-each-info {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .menu-open {
        padding-top: 290px;
    }
}

@media (max-width: 966px) {
    .menu-open {
        padding-top: 350px;
    }
}

@media (max-width: 768px) {
    .menu-open {
        padding-top: 350px;
    }

    .item-container {
        flex-direction: column;
    }

    .item-info-container {
        width: 75%;
    }

}


@media (min-width: 1264px) {
    .info-product-container {
        border: 1px solid rgb(207, 207, 207);
        border-radius: 10px;
        flex-direction: column;
        padding: 48px 32px;
        gap: 48px;
        display: flex;
    }
}

@media (min-width: 1264px) {
    .info-product {
        margin-bottom: 0px;
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px 60px;
    }
}

/* Right part */

.item-info-resell-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.item-info-resell-container h1 {
    font-family: 'monument-extended';
    font-size: 30px;
    font-weight: 800;
    /* margin: 0; */
    /* padding: 0; */
    color: black;
}

.shop-title {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.shop-title h2 {
    text-decoration-line: none;
    font-style: normal;
    text-transform: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    font-family: 'monument-extended';
    color: #008060;
}

.icon {
    color: #008060;
    width: 26px;
    height: 26px;
}

.item-info-resell {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;
    width: 100%;
    /* padding-top: 8px; */
}